.product {
  &__title {
    margin-bottom: 1rem;
  }

  &__description {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  &__rating {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.2rem;
    margin-top: 0.5rem;
    padding-bottom: 1.8rem;
    border-bottom: 1px solid #afb3b454;
    justify-content: flex-end;
    gap: 0.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
  }

  &__rate {
    font-size: 1.3rem;
    fill: #888dd1;
  }

  &__finalprice {
    font-size: 1.3rem;
    text-decoration: line-through;
  }

  &__discount-price {
    padding: 1rem 0;
  }

  &__discount {
    font-size: 1.2rem;
    display: inline-block;
    margin-right: 1rem;
  }

  &__items {
    display: flex;
    margin: 1rem 0;
    border-radius: 5rem;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
    background-color: #445454;
    width: fit-content;
    color: #f3f4f8;
    font-weight: 600;
    padding: 0 1rem;
  }
  &__stock-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }

  &__remove-item {
    padding: 0.5rem 0.8rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__count {
    padding: 0.3rem 0.8rem;
  }
  &__add-item {
    padding: 0.5rem 0.8rem;
    &:hover {
      cursor: pointer;
    }
  }
  &__stock {
    font-size: 1.2rem;
  }
}
.btns {
  text-align: center;
}
.cart-btn {
  margin: 3rem 0;
  background: transparent;
  border: none;
  color: #445454;
  font-weight: 700;
  padding: 0.8rem 1.8rem;
  border-radius: 0.5rem;
  text-align: center;
  border: 1px solid #445454;
  &:hover {
    cursor: pointer;
    background-color: #edeeee6f;
  }
}
