.product-details {
  position: fixed;
  height: 50rem;
  width: 50rem;
  background-color: #3b484c;
  z-index: 100;
  top: 15%;
  border-radius: 0.5rem;
  padding: 2rem;
  color: #e2e7e8;
  font-weight: 300;
}
