.header {
  position: relative;
  width: 100%;
  height: 5.2rem;

  color: #f5f7f7;

  &-container {
    padding: 0rem 10rem;
    background-color: #2c3639d9;
    backdrop-filter: blur(5px);
    position: fixed;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  h1 {
    font-size: 1.8rem;
    &:hover {
      cursor: pointer;
    }
  }

  .header-btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart,
  .user_account {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: inherit;
    padding: 0.2rem 3rem;
    border: none;
    outline: none;
  }

  svg {
    font-size: 1.8rem;
  }

  .cart {
    background-color: #586d73;
    padding: 0.5rem 3rem;
    border-radius: 2rem;

    &:hover {
      cursor: pointer;
      background-color: #516369;
    }

    .badge {
      background-color: #425156;
      padding: 0.5rem 0.7rem;
      border-radius: 50%;
      font-size: 1rem;
    }
  }
}
