.header {
  position: relative;
  width: 100%;
  height: 7rem;

  @media screen and (max-width: 650px) {
    height: 4rem;
  }

  color: #f5f7f7;

  &-container {
    padding: 0rem 10rem;
    background-color: #232a2cdc;

    backdrop-filter: blur(10px);
    position: fixed;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    @media screen and (max-width: 650px) {
      padding: 0 3rem;
    }
  }

  h1 {
    font-size: 1.8rem;
    text-transform: capitalize;
    @media screen and (max-width: 650px) {
      font-size: 1.2rem;
    }
    img {
      width: 3rem;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .header-btns {
    // width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    button:hover {
      cursor: pointer;
    }
  }

  .user {
    position: relative;
    ul {
      width: 18rem;
      list-style: none;
      position: absolute;
      top: 3rem;
      left: -1rem;
      z-index: 400;
      background: #586d73;
      padding: 2rem;
      border-radius: 0.5rem;
      font-size: 1.3rem;
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      color: #f5f7f7;
      li:hover {
        cursor: pointer;
      }
    }
  }

  .user-auth {
    button {
      background-color: transparent;
      border: none;
      color: inherit;

      &:focus {
        outline: none;
      }
    }
  }

  .cart,
  .user_account {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: inherit;
    padding: 0.2rem 3rem;
    border: none;
    outline: none;

    @media screen and (max-width: 650px) {
      padding: 0.2rem 2rem;
      font-size: 1.2rem;
    }
  }

  svg {
    font-size: 1.8rem;
    @media screen and (max-width: 650px) {
      font-size: 1.4rem;
    }
  }

  .cart {
    background-color: #586d73;
    padding: 0.5rem 3rem;
    border-radius: 2rem;

    &:hover {
      background-color: #516369;
    }

    .badge {
      background-color: #425156;
      padding: 0.5rem 0.7rem;
      border-radius: 50%;
      font-size: 1rem;
    }

    @media screen and (max-width: 650px) {
      padding: 0.2rem 1rem;
      font-size: 1.2rem;
    }
  }
}

.logout_notification {
  svg {
    display: none;
  }
}
