.heroSection {
  background-color: #bbc7cb;
  background-color: #f5f7f7;

  .container {
    display: grid;
    grid-template-columns: 1fr 35%;
    align-items: center;
    padding: 5rem 0;
    width: 70%;
    gap: 4rem;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h1 {
    font-size: 5.2rem;
    // font-size: 5rem;
    line-height: 1;
    // line-height: 1;
    letter-spacing: -0.2rem;
    margin-bottom: 2rem;
    // font-weight: lighte;
  }
  p {
    font-size: 2rem;
    margin-left: 0.5rem;
    color: #4a4c74;
    font-weight: bold;
  }
}
