*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  // font-family: "Aleo", serif;
  font-size: 1.6rem;
  // background-color: #ebeff0;
  color: #2c3639;
}

.main {
  position: relative;
  height: 100vh;
  padding: 0rem 5rem;
}

.cartPage {
  width: 50%;
  min-width: 60rem;
  height: 80vh;
  margin: 2rem auto;
  background-color: #e2e7e8;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 20px 20px rgba(0, 0, 0, 0.03);
}

.cart-headings {
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #a8b7bc;
  padding: 1rem 0;
  margin-bottom: 3rem;
  a {
    text-decoration: none;
    color: #333f43;
  }
}
