*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f5f7f7;
  color: #2c3639;
}

.main {
  position: relative;
  height: 100vh;
  padding: 0rem 3rem;
}
